
             <!-- Show user data when logged in -->
        <div class="bk" *ngIf="authService.userData as user">
          <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand" href="#">Game</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="row"></div>
                <ul class="navbar-nav mr-auto">
                
                </ul>
                <div class="row">
                    <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#"> -Metal- {{playerData.metalAmmount}} <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> -Crystals- {{playerData.crystalAmmount}} </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#"> -Energy- {{playerData.energyAmmount}}</a>
                  </li>
                </ul>
                </div>
            
              
              <div>
               
                      <img class="rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                        alt="{{user.displayName}}">
                     
                        <p>Logged as: <strong>{{user.email}}</strong></p>
                        <!-- <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                         <p>User ID: <strong>{{user.uid}}</strong></p>
                    
                        <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>-->
                   
                  
                    <a class="nav-link" href="#">Mensagens</a> 
         </div>
              </div>
            </div>
          </nav>
          
          <main role="main" class="container">
            <div class="row">
              <div class="col">
                <div class="jumbotron">
              
                </div>
              </div>
            </div>
            <div class="row">
              <!-- wider column -->
              <div class="col-md-8 mb-4">
           
              <router-outlet></router-outlet>>
              
              
              </div>
              <div class="col-md-4 mb-4">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                    <a class="nav-link"routerLink="/dashboard/overview" routerLinkActive="active">Overview</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/resources" routerLinkActive="active" >Resources</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"   routerLink="/dashboard/facilities" routerLinkActive="active" >Facilities</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"   routerLink="/dashboard/research" routerLinkActive="active" >Research</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  routerLink="/dashboard/fleet" routerLinkActive="active">Fleet</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"   routerLink="/dashboard/defenses" routerLinkActive="active" >Defenses</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"   routerLink="/dashboard/universe" routerLinkActive="active" >Universe</a>
                  </li>
                
                </ul>
              </div>
            </div>
          </main>
         
        </div>

 