<div class="jumbotron">
    <img src="https://cdna.artstation.com/p/assets/images/images/016/210/830/large/guillaume-bolis-planet-render-thumbnail.jpg?1551319273" alt="400px" width="400px">
    <h1>Diameter: {{playerData.planeteDiameter}}</h1>
    <p class="lead">Temperature: {{playerData.planetTemperature}} </p>
    <hr class="my-4">
    <p> {{playerData.coordenates}} </p> 
    
</div>